<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css"> 
    <title>PlagiarismDetector</title>
</head>

<body>
    <h1 id= "title">Plagiarism Detector </h1>
    <p>Please choose two files</p>
    <h1>{{errorFilesInput}}<h1>
    <form method="POST">
        <input id= "file1" name="file1" type = "file"> <br>
        <input id= "file2" name="file2" type = "file"> <br>
        <input id= "filesSubmit" type="submit"></input>
    </form>
    <a class="link" href="/">Go back</a>
</body>

</html>
