<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css"> 
    <title>PlagiarismDetector</title>
</head>

<body>
    <h1 id= "title">Plagiarism Detector </h1>
    <p>Please enter text seperately</p>
    <h1>{{errorTextsInput}}<h1>
    <form method="POST">
        <section> 
            <h3>Input1</h3>
            <textarea id = "textOne" name="text1"></textarea>
        </section>
        <section> 
            <h3>Input2</h3>
            <textarea id = "textTwo" name="text2"></textarea>
        </section>
        <input id= "textsSubmit" type="submit"></input>
    </form>

    <a class="link" href="/">Go back</a>
</body>

</html>
