<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/style.css"> 
    <title>PlagiarismDetector</title>
</head>

<body>
    <h1 id="title">Plagiarism Detector </h1>
    <p>Please enter text input</p>
    <h1>{{errorTextInput}}<h1>
    <form method="POST">
        <textarea id="text" name="text"></textarea>
        <input id= "textSubmit" type="submit"></input>
    </form>
    <a class="link" href="/">Go back</a>
</body>

</html>
